<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>修改密码</string>
			<key>imageName</key>
			<string>foundFackBack</string>
		</dict>
		<dict>
			<key>title</key>
			<string>0756-8911903</string>
			<key>imageName</key>
			<string>foundContactUs</string>
		</dict>
		<dict>
			<key>title</key>
			<string>版本更新</string>
			<key>imageName</key>
			<string>foundAboutUs</string>
		</dict>
	</array>
</array>
</plist>
